{ margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Arial;
    color: Black;
}

h1 {
    font-size: 1.2rem;
    color: Black;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid rgb(10, 138, 110);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100px;
}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: whitesmoke;
}

header img {
    width: 64px;
    height: auto;
    float: right;
}

footer {
    font-size: 32px;
